@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.07em;
}

p, span {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

ol,
ul {
  list-style: none;
  padding: 0%;
}

a {
  text-decoration: none;
}

svg {
  stroke: none;
}

.color-1 {
  color: rgba(0, 0, 0, 0.8);
}
.color-2 {
  color: rgba(0, 0, 0, 0.7);
}
.color-3 {
  color: rgba(0, 0, 0, 0.6);
}
.color-offer {
  color: #00a650;
}
.color-white_1 {
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.color-white_2 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}
.color-white_3 {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .size-small_s {
    font-size: 0.375em;
  }
  .size-small_m {
    font-size: 0.625em;
  }
  .size-small_l {
    font-size: 0.875em;
  }
  .size-medium_s {
    font-size: 1em;
  }
  .size-medium_m {
    font-size: 1.375em;
  }
  .size-medium_l {
    font-size: 1.75em;
  }
  .size-large_s {
    font-size: 2em;
  }
  .size-large_m {
    font-size: 2.3em;
  }
  .size-large_l {
    font-size: 2.8em;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .size-small_s {
    font-size: 0.375em;
  }
  .size-small_m {
    font-size: 0.625em;
  }
  .size-small_l {
    font-size: 0.875em;
  }
  .size-medium_s {
    font-size: 1em;
  }
  .size-medium_m {
    font-size: 1.375em;
  }
  .size-medium_l {
    font-size: 1.75em;
  }
  .size-large_s {
    font-size: 2.4em;
  }
  .size-large_m {
    font-size: 3em;
  }
  .size-large_l {
    font-size: 4em;
  }
}
@media screen and (min-width: 1023px) {
  .size-small_s {
    font-size: 0.375em;
  }
  .size-small_m {
    font-size: 0.625em;
  }
  .size-small_l {
    font-size: 0.875em;
  }
  .size-medium_s {
    font-size: 1em;
  }
  .size-medium_m {
    font-size: 1.375em;
  }
  .size-medium_l {
    font-size: 1.75em;
  }
  .size-large_s {
    font-size: 2.8em;
  }
  .size-large_m {
    font-size: 3.5em;
  }
  .size-large_l {
    font-size: 4.5em;
  }
}
.subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.products_name {
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 0.375rem;
  margin-top: 0.375rem;
  text-transform: uppercase;
}
.products_description {
  display: flex;
  justify-content: center;
}
.products_price {
  font-weight: 400;
}

.footer {
  background-color: #8B7E74;
  color: white;
}
.footer .social-links {
  display: flex;
  justify-content: space-evenly;
}
.footer .copyright {
  border-top: 1px solid #ddd9cc;
  border-bottom: 1px solid #ddd9cc;
}
.footer-links ul li {
  padding-left: 0.8rem;
}

header {
  background-color: #876445;
  font-family: "Poppins", "Open-sans";
  position: sticky;
  top: 0;
  z-index: 1000;
}
header .offcanvas {
  background-color: #eddbc7;
}
header .offcanvas-title {
  margin-bottom: 10px black solid;
}

@media screen and (max-width: 767px) {
  .carrito-indicador {
    position: absolute;
    top: 268px;
    right: 326px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    color: black;
    font-size: 12px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1023px) {
  .carrito-indicador {
    position: absolute;
    top: 25px;
    right: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(250, 250, 250);
    color: black;
    font-size: 12px;
    font-weight: 500;
  }
}
main {
  background-color: #F5F5F5;
}

.box-shadow {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 7px 7px 15px #e6e6e6, -7px -7px 15px #ffffff;
  transition: 500ms;
}
.box-shadow:hover {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 7px 7px 14px #dadada, -7px -7px 14px #ffffff;
}

.box-product {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 7px 7px 15px #e6e6e6, -7px -7px 15px #ffffff;
  transition: 500ms;
}
.box-product:hover {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 7px 7px 14px #dadada, -7px -7px 14px #ffffff;
}

.icon-tabler-shopping-cart {
  stroke: black;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.icon-tabler-trash {
  stroke: black;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
  background-color: #F5F5F5;
}
.icon-tabler-brand-facebook {
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.icon-tabler-brand-twitter {
  stroke: white;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.icon-tabler-brand-instagram {
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}
.icon-tabler-brand-linkedin {
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
}

button {
  border: none;
  background-color: #F5F5F5;
}

.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: #F5F5F5;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.search-hats_button {
  min-height: 50px;
  width: 150px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #91684A;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.search-hats_button:hover {
  background-color: #C38154;
}

.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #00a650;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: #00a650;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}

@media screen and (max-width: 767px) {
  .input-group {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0em 1em;
  }
  .input-group .input {
    min-height: 50px;
    max-width: 900px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #91684A;
    border-radius: 10px;
    background-color: transparent;
  }
  .input-group .input:focus, .input-group .input:focus-visible {
    border-color: #c9a031;
    outline: none;
  }
  .input-group .button--submit {
    min-height: 50px;
    width: 150px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    background-color: #91684A;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .input-group .button--submit:hover {
    background-color: #C38154;
  }
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  .rate:not(:checked) > label:before {
    content: "★ ";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    color: #ccc;
  }
  .rate:not(:checked) > label:before {
    content: "★ ";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
}
@media screen and (min-width: 1023px) {
  .input-group {
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0em 1em;
  }
  .input-group .input {
    min-height: 50px;
    max-width: 900px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #91684A;
    border-radius: 10px;
    background-color: transparent;
  }
  .input-group .input:focus, .input-group .input:focus-visible {
    border-color: #c9a031;
    outline: none;
  }
  .input-group .button--submit {
    min-height: 50px;
    width: 150px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    background-color: #91684A;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .input-group .button--submit:hover {
    background-color: #C38154;
  }
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
  }
  .rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
  }
  .rate:not(:checked) > label:before {
    content: "★ ";
  }
  .rate > input:checked ~ label {
    color: #ffc700;
  }
  .rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
  }
  .rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
  }
}
@media screen and (max-width: 767px) {
  main {
    color: black;
  }
  main .hero {
    width: 100%;
    height: 75vh;
    background: url("../../svg/stacked-waves-haikei.svg") center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .hero-intro {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  main .hero-intro_title {
    font-family: "Raleway", "Open-sans";
  }
  main .hero-intro_subtitle {
    font-family: "Raleway", "Open-sans";
  }
  main .featured-products {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #ddd9cc;
  }
  main .featured-products .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
  }
  main .featured-products .splide__slide:last-child {
    margin-right: 0; /* Eliminar el espacio después de la última imagen */
  }
  main .featured-products .splide__slide .featured-products-product {
    object-fit: cover;
  }
  main .featured-products .splide__slide .featured-products-product img {
    width: 100%;
    height: 100%;
  }
  main .featured-products .splide__slide .featured-products-product__buy {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
  main .newsletter {
    padding: 2em 0;
    border-top: 1px solid #ddd9cc;
    border-bottom: 1px solid #ddd9cc;
    display: flex;
    flex-flow: column;
  }
  main .rated-products {
    border-bottom: 1px solid #ddd9cc;
  }
  main .rated-products-product_img {
    width: 100%;
    height: auto;
    border-top: 10px;
  }
  main .rated-products-product-info {
    padding: 0em 0.5em 0em 1em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
  }
  main .rated-products-product-info__buy {
    display: flex;
    flex-flow: column;
  }
  main .aboutUs {
    border-top: 1px solid #ddd9cc;
    border-bottom: 1px solid #ddd9cc;
  }
  main .aboutUs h2 {
    display: flex;
    justify-content: center;
  }
  main .aboutUs p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 0.5rem;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  main {
    color: black;
  }
  main .hero {
    width: 100%;
    height: 100vh;
    background: url("../../svg/stacked-waves-haikei.svg") center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .hero-intro {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  main .hero-intro_title {
    font-family: "Raleway", "Open-sans";
  }
  main .hero-intro_subtitle {
    font-family: "Raleway", "Open-sans";
  }
  main .featured-products {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #ddd9cc;
  }
  main .featured-products .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
  }
  main .featured-products .splide__slide:last-child {
    margin-right: 0; /* Eliminar el espacio después de la última imagen */
  }
  main .featured-products .splide__slide img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .newsletter {
    padding: 1rem 0;
    border-top: 1px solid #ddd9cc;
    border-bottom: 1px solid #ddd9cc;
    display: flex;
    flex-flow: column;
  }
  main .rated-products {
    border-bottom: 1px solid #ddd9cc;
  }
  main .rated-products-product {
    overflow: hidden;
  }
  main .rated-products-product_img {
    width: 100%;
    height: auto;
    border-top: 10px;
  }
  main .rated-products-product_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .rated-products-product_info .rate {
    align-self: flex-end;
  }
  main .rated-products-product .best {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
  main .aboutUs {
    border-top: 1px solid #ddd9cc;
    border-bottom: 1px solid #ddd9cc;
  }
  main .aboutUs h2 {
    display: flex;
    justify-content: center;
  }
  main .aboutUs p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1023px) {
  main {
    color: black;
  }
  main .hero {
    width: 100%;
    height: 100vh;
    background: url("../../svg/stacked-waves-haikei.svg") center center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .hero-intro {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  main .hero-intro_title {
    font-family: "Raleway", "Open-sans";
  }
  main .hero-intro_subtitle {
    font-family: "Raleway", "Open-sans";
  }
  main .featured-products {
    padding-top: 2em;
    padding-bottom: 2em;
    border-top: 1px solid #ddd9cc;
  }
  main .featured-products .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
  }
  main .featured-products .splide__slide:last-child {
    margin-right: 0; /* Eliminar el espacio después de la última imagen */
  }
  main .featured-products .splide__slide .featured-products-product {
    object-fit: cover;
  }
  main .featured-products .splide__slide .featured-products-product img {
    width: 100%;
    height: 100%;
  }
  main .featured-products .splide__slide .featured-products-product__buy {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
  main .newsletter {
    padding: 1rem 0;
    border-top: 1px solid #ddd9cc;
    border-bottom: 1px solid #ddd9cc;
    display: flex;
    flex-flow: row;
  }
  main .newsletter .input-group {
    display: flex;
    align-items: center;
  }
  main .rated-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Primera columna ocupa 2/3 del ancho, las otras dos columnas ocupan 1/3 cada una */
    grid-template-rows: auto; /* Altura automática según el contenido */
    grid-gap: 30px; /* Espacio entre los elementos de la cuadrícula */
  }
  main .rated-products .main-column {
    grid-row: span 2; /* La primera columna ocupa dos filas */
  }
  main .rated-products .secondary-column {
    grid-row: span 2; /* La primera columna ocupa dos filas */
  }
  main .rated-products-product_img {
    width: 100%;
    height: auto;
    border-top: 10px;
  }
  main .rated-products-product-info {
    padding: 0em 1em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
  }
  main .rated-products-product-info__buy {
    display: flex;
    flex-flow: column;
  }
  main .aboutUs {
    border-top: 1px solid #ddd9cc;
    border-bottom: 1px solid #ddd9cc;
  }
  main .aboutUs h2 {
    display: flex;
    justify-content: center;
  }
  main .aboutUs p {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 12rem;
  }
}
.carrito {
  padding: 2em;
  min-height: 80vh;
}
.carrito .producto-carrito {
  display: flex;
  object-fit: cover;
  padding: 2em 0em;
  gap: 35px;
  border-bottom: 1px solid #ddd9cc;
}
.carrito .producto-carrito__img {
  width: 30%;
  height: 40%;
  overflow: hidden;
}
.carrito .producto-carrito-info {
  display: flex;
  width: 100%;
  gap: 8em;
}
.carrito .producto-carrito-info-extra {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.carrito .producto-carrito-info-selects {
  display: flex;
  gap: 30px;
}
.carrito-resumen-calculo {
  display: flex;
  justify-content: space-between;
}
.carrito-resumen-calculo-total {
  display: flex;
  justify-content: space-between;
  padding: 1em 0em;
  border-top: 1px #ddd9cc solid;
  border-bottom: 1px #ddd9cc solid;
}

@media screen and (max-width: 767px) {
  main .hero-categories {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd9cc;
  }
  main .hero-categories .hero-intro-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  main .hero-categories .hero-intro-categories_title {
    font-family: "Raleway", "Open-sans";
  }
  main .hero-categories .hero-intro-categories_subtitle {
    font-family: "Raleway", "Open-sans";
  }
  main .hero-categories .hero-intro-categories .titulo-container {
    display: inline-block;
    position: relative;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
  }
  main .hero-categories .hero-intro-categories .titulo-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
    width: 60%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
    border-bottom: 2px solid #ddd9cc; /* Establece el estilo del borde inferior */
  }
  main .hero-categories .hero-intro-categories .titulo-container .titulo {
    font-family: "Raleway", "Open-sans";
  }
  main .featured-categories {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  main .featured-categories p {
    align-self: center;
  }
  main .featured-categories h2 {
    padding-bottom: 0.2em;
  }
  main .featured-categories .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    grid-row-gap: 3em;
    grid-column-gap: 1em;
    padding-bottom: 2em;
  }
  main .featured-categories .categories-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
  }
  main .featured-categories .categories-category img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  main .featured-categories .categories-category h3 {
    margin-top: 1rem;
  }
  main .all-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
  }
  main .all-products .producto {
    padding: 1em 0em;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1em;
    object-position: center center;
  }
  main .all-products .producto-img {
    height: 60%;
    width: 80%;
  }
  main .all-products .producto-info {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  main .all-products .producto-info_title {
    text-transform: uppercase;
    margin-bottom: 0rem;
  }
  main .all-products .producto-info_category {
    margin-bottom: 0.3rem;
  }
  main .all-products .producto-info-button {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
  }
  main .all-products .producto-info-button p {
    margin-bottom: 0%;
  }
  main .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  main .grid-container-1 {
    padding: 20px;
    text-align: center;
  }
  main .grid-container-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Actualización a 2 columnas */
    gap: 20px;
    padding: 1em;
    /* Estilos para el contenido dentro de cada artículo */
  }
  main .grid-container-productos_img {
    width: 100%;
  }
  main .grid-container-productos article {
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  main .grid-container-productos .grid-container-productos_producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  main .hero-categories {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd9cc;
  }
  main .hero-categories .hero-intro .titulo-container {
    display: inline-block;
    position: relative;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    width: 70vw;
  }
  main .hero-categories .hero-intro .titulo-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
    width: 60%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
    border-bottom: 2px solid #ddd9cc; /* Establece el estilo del borde inferior */
  }
  main .hero-categories .hero-intro .titulo-container .titulo {
    font-family: "Raleway", "Open-sans";
  }
}
@media screen and (min-width: 1023px) {
  main .hero-categories {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd9cc;
  }
  main .hero-categories .hero-intro .titulo-container {
    display: inline-block;
    position: relative;
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    width: 50vw;
  }
  main .hero-categories .hero-intro .titulo-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
    width: 60%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
    border-bottom: 2px solid #ddd9cc; /* Establece el estilo del borde inferior */
  }
  main .hero-categories .hero-intro .titulo-container .titulo {
    font-family: "Raleway", "Open-sans";
  }
  main .featured-categories {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  main .featured-categories p {
    width: 40vw;
    align-self: center;
  }
  main .featured-categories h2 {
    padding-bottom: 0.2em;
  }
  main .featured-categories .categories {
    padding: 1em 4em 0 4em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }
  main .featured-categories .categories-category {
    display: flex;
    flex-flow: column;
  }
  main .featured-categories .categories-category img {
    height: 20em;
    width: 100%;
    overflow: hidden;
  }
  main .featured-categories .categories-category h3 {
    padding: 0.5em;
    text-align: center;
    font-weight: 300;
  }
  main .all-products {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    row-gap: 10px;
    column-gap: 30px;
  }
  main .all-products .producto {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1em;
    margin-bottom: 1em;
    object-fit: cover;
    object-position: center center;
    height: 20em;
  }
  main .all-products .producto-img {
    height: 60%;
    width: 80%;
  }
  main .all-products .producto-info {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  main .all-products .producto-info_title {
    text-transform: uppercase;
    margin-bottom: 0rem;
  }
  main .all-products .producto-info_category {
    margin-bottom: 0.3rem;
  }
  main .all-products .producto-info-button {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  main .all-products .producto-info-button p {
    margin-bottom: 0%;
  }
  main .grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* 1/4 - 3/4 */
    gap: 20px; /* Espacio entre las columnas */
    padding: 3em 2em 1em 2em;
  }
  main .grid-container-productos {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 2em;
    justify-content: space-evenly;
  }
  main .grid-container-productos article {
    width: calc(50% - 10px); /* Ajusta el ancho de cada artículo según tus necesidades */
    margin: 5px;
    margin-right: 0.3em;
    margin-bottom: 1.5em;
  }
  main .grid-container-productos article:last-child {
    margin-right: 0; /* Elimina el margen derecho del último artículo para evitar espacio adicional */
  }
  main .grid-container-productos_producto {
    padding: 1em 0.5em;
    display: flex;
    flex-flow: row;
    gap: 10px;
  }
  main .grid-container-productos_producto div {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  main .grid-container-productos_producto div p {
    margin-bottom: 0%;
    text-align: center;
  }
  main .grid-container-productos_img {
    height: 20vh;
    width: auto;
  }
}
@media screen and (max-width: 767px) {
  .checkbox-wrapper-24 {
    display: flex;
    justify-content: center;
  }
  .checkbox-wrapper-24 .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }
  .checkbox-wrapper-24 label {
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  }
  .checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
  }
  .checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox] {
    display: none;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
}
@media screen and (min-width: 1023px) {
  .checkbox-wrapper-24 {
    display: flex;
    justify-content: space-around;
  }
  .checkbox-wrapper-24 .checkbox {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }
  .checkbox-wrapper-24 label {
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  }
  .checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
  }
  .checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox] {
    display: none;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
}
.my-select {
  background-color: #F5F5F5;
  color: #333;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  width: 5em;
}
.my-select option {
  background-color: #F5F5F5;
  color: rgba(0, 0, 0, 0.7);
}

/*# sourceMappingURL=styles.css.map */
