@media screen and (max-width: 767px) {
  main {
    .hero-categories {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 10px solid #ddd9cc;
      .hero-intro {
        .titulo-container {
          display: inline-block;
          position: relative;
          margin-bottom: 2em;
          padding-bottom: 0.5em;
          width: 90vw;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
            width: 60%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
            border-bottom: 2px solid #ddd9cc; /* Establece el estilo del borde inferior */
          }
          .titulo {
            font-family: "Raleway", "Open-sans";
          }
        }
      }
    }
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  main {
    .hero-categories {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ddd9cc;
      .hero-intro {
        .titulo-container {
          display: inline-block;
          position: relative;
          margin-bottom: 2em;
          padding-bottom: 0.5em;
          width: 70vw;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
            width: 60%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
            border-bottom: 2px solid #ddd9cc; /* Establece el estilo del borde inferior */
          }
          .titulo {
            font-family: "Raleway", "Open-sans";
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1023px) {
  main {
    .hero-categories {
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ddd9cc;
      .hero-intro {
        .titulo-container {
          display: inline-block;
          position: relative;
          margin-bottom: 2em;
          padding-bottom: 0.5em;
          width: 50vw;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 20%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
            width: 60%; /* Ajusta este valor según el ancho del borde que deseas (por ejemplo, 40% para ocupar el 40% del ancho) */
            border-bottom: 2px solid #ddd9cc; /* Establece el estilo del borde inferior */
          }
          .titulo {
            font-family: "Raleway", "Open-sans";
          }
        }
      }
    }
    .featured-categories {
      display: flex;
      flex-flow: column;
      justify-content: center;
      p {
        width: 40vw;
        align-self: center;
      }
      h2 {
        padding-bottom: 0.2em;
      }
      .categories {
        padding: 1em 4em 0 4em;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        &-category {
          display: flex;
          flex-flow: column;
          img {
            height: 40vh;
            width: 100%;
            overflow: hidden;
          }
          h3 {
            padding: 0.5em;
            text-align: center;
            font-weight: 300;
          }
        }
      }
    }
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 3fr; /* 1/4 - 3/4 */
      gap: 20px; /* Espacio entre las columnas */
      padding: 3em 2em 1em 2em;
      &-productos {
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 2em;
        justify-content: space-evenly;
        article {
          width: calc(
            50% - 10px
          ); /* Ajusta el ancho de cada artículo según tus necesidades */
          margin: 5px;
          margin-right: 0.3em;
          margin-bottom: 1.5em;
          &:last-child{
            margin-right: 0; /* Elimina el margen derecho del último artículo para evitar espacio adicional */
          }
        }
        &_producto{
          display: flex;
          flex-flow: row;
          gap: 20px;
          div{
            p{
              margin-bottom: 0%;
            }
          }
        }
        &_img{
          height: 20vh;
          width: auto;
        }
      }
    }
  }
}
