// PALETAS
$primary-color:#91684A;
$background-color:#F5F5F5; //DCD7C9 EEE3CB
$header-bg-color:#876445; //454545
$footer-bg-color:#8B7E74; //454545
$secundary-color:#493323; //865439
$tertiary-color:#C38154;
$font-color: white;

$font-1:rgba(0, 0, 0, 0.8);
$font-2: rgba(0, 0, 0, 0.7);
$font-3:rgba(0, 0, 0, 0.6);

$font-white-1: rgba(255, 255, 255, 1);
