.box-shadow {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 11px 11px 61px #dddddd, -11px -11px 61px #ffffff;
  transition: 500ms;
  &:hover {
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 7px 7px 9px #bababa, -7px -7px 9px #ffffff;
  }
}
.box-product {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 11px 11px 22px #f0f0f0, -11px -11px 22px #fafafa;
  transition: 500ms;
  &:hover {
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 11px 11px 16px #e4e4e4, -11px -11px 16px #ffffff;
  }
}

