.box-shadow {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 7px 7px 15px #e6e6e6, -7px -7px 15px #ffffff;
  transition: 500ms;
  &:hover {
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 7px 7px 14px #dadada, -7px -7px 14px #ffffff;
  }
}
.box-product {
  border-radius: 6px;
  background: #f5f5f5;
  box-shadow: 7px 7px 15px #e6e6e6, -7px -7px 15px #ffffff;
  transition: 500ms;
  &:hover {
    border-radius: 6px;
    background: #f5f5f5;
    box-shadow: 7px 7px 14px #dadada, -7px -7px 14px #ffffff;
  }
}
