button{
  border: none;
  background-color: $background-color;
}
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: $background-color;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: 0.3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: 0.3s;
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
  transition-duration: 0.3s;
}

.search-hats_button {
  min-height: 50px;
  width: 150px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: $primary-color;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $tertiary-color;
  }
}
.input {
  min-height: 50px;
  max-width: 900px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid $primary-color;
  border-radius: 10px;
  background-color: transparent;
  &:focus,
  &:focus-visible {
    border-color: #c9a031;
    outline: none;
  }
}
.button--submit {
  min-height: 50px;
  width: 150px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 10px;
  background-color: $primary-color;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $tertiary-color;
  }
}
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}

.button,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(30px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: $offer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 30px;
  stroke: #fff;
}

.button:hover {
  background: $offer;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #2e8644;
}

.button:active {
  border: 1px solid #2e8644;
}

@media screen and (max-width: 767px) {
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    &:not(:checked) > input {
      position: absolute;
      top: -9999px;
    }
    &:not(:checked) > label {
      float: right;
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 30px;
      color: #ccc;
      &:before {
        content: "★ ";
      }
    }
    & > input:checked ~ label {
      color: #ffc700;
    }
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
      color: #deb217;
    }
    & > input:checked + label:hover,
    & > input:checked + label:hover ~ label,
    & > input:checked ~ label:hover,
    & > input:checked ~ label:hover ~ label,
    & > label:hover ~ input:checked ~ label {
      color: #c59b08;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    &:not(:checked) > input {
      position: absolute;
      top: -9999px;
    }
    &:not(:checked) > label {
      float: right;
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 20px;
      color: #ccc;
      &:before {
        content: "★ ";
      }
    }
    & > input:checked ~ label {
      color: #ffc700;
    }
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
      color: #deb217;
    }
    & > input:checked + label:hover,
    & > input:checked + label:hover ~ label,
    & > input:checked ~ label:hover,
    & > input:checked ~ label:hover ~ label,
    & > label:hover ~ input:checked ~ label {
      color: #c59b08;
    }
  }
}
@media screen and (min-width: 1023px) {
  .rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    &:not(:checked) > input {
      position: absolute;
      top: -9999px;
    }
    &:not(:checked) > label {
      float: right;
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 30px;
      color: #ccc;
      &:before {
        content: "★ ";
      }
    }
    & > input:checked ~ label {
      color: #ffc700;
    }
    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
      color: #deb217;
    }
    & > input:checked + label:hover,
    & > input:checked + label:hover ~ label,
    & > input:checked ~ label:hover,
    & > input:checked ~ label:hover ~ label,
    & > label:hover ~ input:checked ~ label {
      color: #c59b08;
    }
  }
}
