.icon {
  &-tabler {
    &-shopping-cart {
      stroke: black;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2;
    }
    &-trash {
      stroke: black;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1;
      background-color: $background-color;
    }
    &-brand {
      &-facebook {
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
      &-twitter {
        stroke: white;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
      &-instagram {
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
      &-linkedin {
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
    }
  }
}
.carrito-indicador {
  position: absolute;
  top: 25px;
  right: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(250, 250, 250);
  color: black;
  font-size: 12px;
  font-weight: 500;
}
