.icon {
  &-tabler {
    &-shopping-cart {
      stroke: black;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2;
    }
    &-trash {
      stroke: black;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1;
      background-color: $background-color;
    }
    &-brand {
      &-facebook {
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
      &-twitter {
        stroke: white;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
      &-instagram {
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
      &-linkedin {
        stroke: white;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2;
      }
    }
  }
}

